/* src/components/PostsSection/CommentSection.css */

.comment-section {
    margin-top: 15px;
  }
  
  .view-more-comments {
    color: #2f8a4c;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    margin-top: 10px;
  }
  
  .view-more-comments:hover {
    color: #256938;
  }
  