@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}



a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}



:root {
  /* Color Palette */
  --primary: #347928;       /* Greenish, used for accents/text */
  --accent: #FCCD2A;        /* Bright accent color */
  --background: #f9f9f9;    /* Light background color */
  --panel-bg: #ffffff;      /* Panel/card background */
  --border-color: #e2e5ea;  /* For borders and lines */
  --text-primary: #333333;  /* Primary text color */
  --text-secondary: #666666;/* Secondary text color */

  /* Typography */
  --heading-font: 'Poppins', sans-serif;  /* Example heading font */
  --body-font: 'Roboto', sans-serif;      /* Example body font */
}

